<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/application.css' />
  </head>
  <body>
    <div id='header'><img src='images/hdr.png'></img></div>
    <p>Will you accept this rose?</p>
    <p>Placeholder for scoreboard</p>
    <a href='/edit_my_picks'>Make your picks</a>
    <a href='/enter_results'>Enter results</a>
  </body>
</html>
