body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #390805;
  color: #fff;
background-image: linear-gradient(right , rgb(89,33,36) 22%, rgb(58,7,4) 74%);
background-image: -o-linear-gradient(right , rgb(89,33,36) 22%, rgb(58,7,4) 74%);
background-image: -moz-linear-gradient(right , rgb(89,33,36) 22%, rgb(58,7,4) 74%);
background-image: -webkit-linear-gradient(right , rgb(89,33,36) 22%, rgb(58,7,4) 74%);
background-image: -ms-linear-gradient(right , rgb(89,33,36) 22%, rgb(58,7,4) 74%);

background-image: -webkit-gradient(
	linear,
	right bottom,
	left bottom,
	color-stop(0.22, rgb(89,33,36)),
	color-stop(0.74, rgb(58,7,4))
);
}
a {
  color: #fff;
}

#header {
	
text-align:center;
color: black;

}

	
